@font-face {
    font-family: 'Jost';
    src: url('./../assets/fonts/Jost.ttf') format('truetype');
}

* {
    font-family: 'Jost';
}
/* .cl-button {
    background-color: #C0F8D6;
    color:#18A551;
} */

.cl-headerTitle {
    font-size: 23px;
    font-weight: 600;
}
.cl-headerSubtitle {
    font-size: 15px;
}
.cl-formFieldLabel {
    font-weight: 400;
}
.cl-formFieldInput, .cl-input {
    background-color: #2D312F;
}
.baby.swiper-pagination-bullet-active {
    background-color: red; /* Change this to your desired color */
  }
body {
    background-color: #075325;
    color: white;
}
.cl-selectButton, .cl-internal-167tq3k{
    background-color: #2D312F;
}
.cl-cardBox, .cl-signUp-start,  .cl-signIn-start{
    background-color: rgba(0, 0, 255, 0);
}
.cl-formButtonPrimary{
    background-color: #18A551;
    color: white;
    border: none;
 
}

.cl-internal-n8erpa[data-variant="solid"][data-color="primary"] {
    box-shadow: none;
}
.cl-internal-w4f4gh {
    background: linear-gradient(rgba(255, 255, 255, .03), rgba(255, 255, 255, .03)), linear-gradient(rgb(0 0 0 / 49%), #074e2454);
}

.flow::-webkit-scrollbar {
    height: 0px; /* Height of horizontal scrollbar */
    width: 0px;
  }
  .baby {
    background: #18A551 !important;
  }
  .flow::-webkit-scrollbar-thumb {
    background: #88888800; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
  }
  
  .flow::-webkit-scrollbar-thumb:hover {
    background: #55555500; /* Color of the scrollbar thumb on hover */
  }
  
  .flow::-webkit-scrollbar-track {
    background: #cccccc00; /* Color of the scrollbar track */
  }

  [class^="number-slide"],
[class*=" number-slide"] {

  display: flex;

  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: auto;
  max-height: 100vh;
}



/* .number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
} */

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #444A47;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #ffffff;
}
@keyframes fadeIn {
  from {
    transform:translateY(100%) ;
  }
  to {
    transform:translateY(0px) ;
  }
}

@keyframes fadeOut {
  from {
    transform:translateY(0%) ;
  }
  to {
    transform:translateY(100%);
  }
}

/* Apply the fade-in animation */
.popup {
  transform:translateY(100%) ;
  animation: fadeIn 0.5s forwards;
}

/* Apply the fade-out animation */
.popup-hidden {

  animation: fadeOut 0.5s forwards;
}
.arrow {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  padding: 20px;
  background-color: #00000080;
  border-radius: 100%;
}
.puff{
 left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.puffy {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);



}
.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
